body {
  margin: 0;
  padding: 0;
  background-color: #fff8cd;
  font-family: "Karla", sans-serif;
}

.generalContainer {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #ff9642;
}

.container {
  background-color: #ffe05d;
  height: 90%;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 3px solid #646464;
  padding: 2.5%;
  box-sizing: border-box;
  border-radius: 10px;
}

.imgContainer {
  width: 50%;
  height: 100%;
  border: 3px solid #646464;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: #fff8cd;
}

.infoContainer {
  width: 45%;
  height: 100%;
  border: 3px solid #646464;
  background-color: #fff8cd;
  border-radius: 10px;
  padding: 2% 3.2%;
  box-sizing: border-box;
  position: relative;
  color: #252525;
}

.sub-title {
  font-weight: 600;
  font-size: 20px;
  margin: 0;
  margin-bottom: 15px;
  font-weight: 600;
}

img {
  height: 100%;
}

h1 {
  font-family: "Rubik", sans-serif;
  font-size: 90px;
  margin: 0;
}

h2 {
  font-size: 50px;
  margin: 0;
  margin-bottom: 50px;
  text-transform: capitalize;
}

.info {
  font-weight: 300;
  font-style: normal;
  text-transform: capitalize;
}

.unit {
  font-weight: 300;
  font-style: normal;
}

button {
  width: 200px;
  height: 40px;
  border-radius: 10px;
  color: #404040;
  background-color: #ffe05d;
  border: 3px solid #646464;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  position: absolute;
  bottom: 40px;
  left: calc(50% - calc(200px / 2));
}

@media (min-width: 1439px) {
  .container,
  .imgContainer,
  .infoContainer {
    border-radius: 15px;
    border: 4px solid #646464;
  }

  .container {
    width: 95%;
  }

  img {
    height: 90%;
  }

  h1 {
    font-size: 95px;
  }
  h2 {
    font-size: 55px;
    margin-bottom: 80px;
  }
  .sub-title {
    font-size: 30px;
  }
  button {
    bottom: 60px;
    height: 60px;
    width: 260px;
    left: calc(50% - 130px);
    font-size: 26px;
    border: 4px solid;
    border-radius: 15px;
  }
}

@media (min-width: 1920px) {
  .container,
  .imgContainer,
  .infoContainer {
    border-radius: 15px;
    border: 4px solid #646464;
  }

  .container {
    width: 95%;
  }

  img {
    height: 90%;
  }

  h1 {
    font-size: 135px;
  }
  h2 {
    font-size: 77px;
    margin-bottom: 70px;
  }
  .sub-title {
    font-size: 35px;
  }
  button {
    bottom: 70px;
    height: 70px;
    width: 300px;
    left: calc(50% - 150px);
    font-size: 30px;
    border: 4px solid;
    border-radius: 15px;
  }
}

@media (min-width: 2559px) {
  .container,
  .imgContainer,
  .infoContainer {
    border-radius: 20px;
    border: 6px solid #646464;
  }

  .container {
    width: 95%;
  }

  img {
    height: 90%;
  }

  h1 {
    font-size: 180px;
  }
  h2 {
    font-size: 100px;
    margin-bottom: 110px;
  }
  .sub-title {
    font-size: 45px;
  }
  button {
    bottom: 90px;
    height: 90px;
    width: 350px;
    left: calc(50% - 175px);
    font-size: 40px;
    border: 5px solid;
    border-radius: 20px;
  }
}

@media (min-width: 3839px) {
  .container,
  .imgContainer,
  .infoContainer {
    border-radius: 38px;
    border: 8px solid #646464;
  }

  .container {
    width: 95%;
  }

  img {
    height: 90%;
  }

  h1 {
    font-size: 290px;
  }
  h2 {
    font-size: 160px;
    margin-bottom: 170px;
  }
  .sub-title {
    font-size: 80px;
  }
  button {
    bottom: 120px;
    height: 130px;
    width: 600px;
    left: calc(50% - 300px);
    font-size: 60px;
    border: 6px solid;
    border-radius: 30px;
  }
}

@media (max-width: 1281px) {
  .generalContainer {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
  }

  img {
    height: 90%;
  }

  h1 {
    font-size: 53px;
  }
  h2 {
    font-size: 30px;
    margin-bottom: 30px;
  }
  .sub-title {
    font-size: 15px;
    margin: 4px 0;
  }
  button {
    bottom: 25px;
    height: 25px;
    width: 125px;
    font-size: 13px;
    left: calc(50% - 62.5px);
  }
}

@media (max-width: 426px) {
  .generalContainer {
    width: 100%;
    overflow: scroll;
  }
  .container {
    flex-direction: column-reverse;
    height: 95%;
    padding: 30px 10px;
  }

  .infoContainer,
  .imgContainer {
    width: 95%;
    text-align: center;
  }

  .infoContainer {
    height: 55%;
  }

  .imgContainer {
    height: 40%;
  }

  h1 {
    font-size: 60px;
  }

  h2 {
    font-size: 35px;
  }

  .sub-title {
    font-size: 16px;
  }
  button {
    height: 30px;
  }
}
